/* form container */
.form-container {
    display: flex;
    justify-content: center;
    max-width: clamp(16rem, 90vw, 70rem);
    margin: auto;
    padding-bottom: 2rem;
    border-radius: 0 0 1rem 1rem;
    background-color: var(--clr-background-shade-450);
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: clamp(16rem, 85vw, 40rem);
    gap: .1rem;
}

textarea {
    resize: vertical;
}

input[type='text'] {
    width: 10rem;
}

input[type='submit'] {
    align-self: center
}